<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.keyfalcon.coffeeshopapp" />

	
	<import resource="config/dataSource/dataSource.xml" />

	<bean id="userDao" class="com.keyfalcon.coffeeshopapp.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="userService" class="com.keyfalcon.coffeeshopapp.service.UserService"
		scope="prototype">
		<constructor-arg ref="userDao" />
	</bean>

</beans>